<style type="text/css">
		h1 {
		font-size:50px;
		text-align: center;
}
		footer{
	text-align:right;
	font-size: 25px;
	color: #ff0000;
	padding-top:220px;
	padding-right:10px

}
		p{
			text-align:left;
			padding-left:30px;
			padding-top:60px;
			text-indent:35px;
			font-size:.5em;
			line-height:170%
			
	}
</style>
<h1>Pharmaceutical Management System<h1>
<p>
		This  management system  is used to manage all the medicines along with it's availability.It shows all the vendors as well the
		manufacturer of that particular medicine.we can increase the medicine availability with the add option.
</p>

<footer>created by sud</footer>